<div class="container mx-auto test">
    <div class="scroll-image">
        <div class="flex flex-col space-y-4">
        <img class="object-scale-down w-3/4 ..." src="https://ss7.vzw.com/is/image/VerizonWireless/iphone-14-pro-deep-purple-fall22-a?wid=700&hei=700&fmt=webp" alt="Sunset in the mountains">
        <img class="object-scale-down w-3/4 ..." src="https://ss7.vzw.com/is/image/VerizonWireless/iphone-14-pro-deep-purple-fall22-a?wid=700&hei=700&fmt=webp" alt="Sunset in the mountains">
        <img class="object-scale-down w-3/4 ..." src="https://ss7.vzw.com/is/image/VerizonWireless/iphone-14-pro-deep-purple-fall22-a?wid=700&hei=700&fmt=webp" alt="Sunset in the mountains">
        <img class="object-scale-down w-3/4 ..." src="https://ss7.vzw.com/is/image/VerizonWireless/iphone-14-pro-deep-purple-fall22-a?wid=700&hei=700&fmt=webp" alt="Sunset in the mountains">
        <img class="object-scale-down w-3/4 ..." src="https://ss7.vzw.com/is/image/VerizonWireless/iphone-14-pro-deep-purple-fall22-a?wid=700&hei=700&fmt=webp" alt="Sunset in the mountains">
        <img class="object-scale-down w-3/4 ..." src="https://ss7.vzw.com/is/image/VerizonWireless/iphone-14-pro-deep-purple-fall22-a?wid=700&hei=700&fmt=webp" alt="Sunset in the mountains">
        </div>
    </div>
    <div class="img-lg-view"><img class="object-scale-down w-3/4 ..." src="https://ss7.vzw.com/is/image/VerizonWireless/iphone-14-pro-deep-purple-fall22-a?wid=700&hei=700&fmt=webp" alt="Sunset in the mountains"></div>
    <div class="img-side-desc"><h1 class="pt-8">I-phone 14</h1>
        <p> Lorem ipsum dolor sit amet consectetur adipisicing elit. Ducimus illum ab possimus eveniet a nihil, neque voluptatum maiores quas voluptates, molestiae, vero facere corrupti eaque quasi dignissimos temporibus. Consequuntur, facere.</p>
        <p> Lorem ipsum dolor sit amet consectetur adipisicing elit. Ducimus illum ab possimus eveniet a nihil, neque voluptatum maiores quas voluptates, molestiae, vero facere corrupti eaque quasi dignissimos temporibus. Consequuntur, facere.</p>
    </div>
   
  </div>